.ContactUsBody_container{
    display: flex;
    height: 36rem;
    flex-direction: row;
    background-color: rgb(128, 116, 111);
}
.ContactUsBody_section1 h1{
    margin-left: 300px;
   

}

.ContactUsBody_section1 h2{
    margin-left: 50px;
    
}
.ContactUsBody_section2{
    margin-left: 50px;
    
}
