@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');
.Footercontainer {
    background: rgb(145, 145, 1);
    height: 9rem;
    flex-direction: row;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_container p {
    font-size: 20px;
    font-family: EB Garamond;
    padding-top: 40px;
    font-weight: 400;
    cursor: pointer;
}

.socialmedia {
    margin-right: 5px;
}

.socialmedia h3 {
    font-size: 20px;
    font-family: EB Garamond;
    font-weight: 400;
    text-align: center;
    padding-top: 40px;
    margin-bottom: -2px;
}

.copyright {
    height: 40px;
    background: #612700;
    flex-direction: column;
}

.copyright p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
    color: rgb(0, 0, 0);
}