.HomeBody2_container{
    display: flex;
    justify-content: space-between;
    height: 50rem;
    align-items: center;
    flex-direction: row;
    background-color: rgb(128, 116, 111);

}
.HomeBody2_Section2 h1 {
    margin-top: -5%;
    text-align: center;
    font-family: DynaPuff;
    font-size: 50px;
    color: rgb(255, 217, 0);

    
}
.HomeBody2_container h2{
    margin-top: -5%;
    font-family: Abril Fatface;
    font-size: 30px;
    text-align: center;
    color: rgb(158, 0, 0);
   

}
.HomeBody2_container h3{
    margin-left: 15%;
    width: 70%;
    text-align: center;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.Section1{
    display:flex;
    height: 32rem;
    width: 50%;
    justify-content: center;
    flex-direction:row;
    align-items: center;

}
.Section2{
    display:flex;
    height: 32rem;
    width: 48%;
    flex-direction:column;
    align-items: center;
    margin-right: 10%;
    
}