.RideNowBody_container {
    background-color: rgb(97, 72, 28);
    display: flex;
    height: auto;
    
    
}
.RideNowBody_container h1{
    color: rgb(0, 0, 0);
    
    

}
.RideNowBody_section1 {
    display: flex;
    flex-direction: column;
    
}
.RideNowBody_section1 h2{
    margin-left: 20px;

}
.RideNowBody_section1 h1{
    margin-left: 20px;
}